{% if widget.input_group %}
    <div class="input-group{% if widget.size == 'small' %} input-group-sm{% elif widget.size == 'large' %} input-group-lg{% endif %}"
         id="div_{{ widget.picker_id }}" data-target-input="nearest">
{% endif %}
{% if widget.prepend %}
    <div class="input-group-prepend" data-target="#{{ widget.picker_id }}"
         {% if widget.icon_toggle %}data-toggle="datetimepicker"{% endif %}>
        <div class="input-group-text"><i class="{{ widget.prepend }}"></i></div>
    </div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{{ widget.html_attrs }}
       {% if widget.input_toggle %}data-toggle="datetimepicker"{% endif %}
       data-target="#{{ widget.picker_id }}">
{% if widget.append %}
    <div class="input-group-append" data-target="#{{ widget.picker_id }}"
         {% if widget.icon_toggle %}data-toggle="datetimepicker"{% endif %}>
        <div class="input-group-text"><i class="{{ widget.append }}"></i></div>
    </div>
{% endif %}
{% if widget.input_group %}
    </div>
{% endif %}
<script type="text/javascript">
    function deferDateTimePicker_{{ widget.picker_id }}() {
        new tempusDominus.TempusDominus(
            document.getElementById("{{ widget.picker_id }}"){% if widget.js_options %},
            {{ widget.js_options }}{% endif %}
        );
    }

    deferDateTimePicker_{{ widget.picker_id }}();
</script>
